{{!< main }}

<section class="delete-confirm">
    <section class="delete-confirm-area">
        <p>
            Are you sure you want to delete your account {{user.username}}?<br>
            All your posts will be deleted along side your account.
        </p>
        <section>
            <button onclick="window.location.href='/profile'">No</button>
            <button onclick="handleClickDeleteUser()">Yes</button>
        </section>
    </section>
</section>

<script>

    function handleClickDeleteUser() {
        /*
            send a post request to remove user from users table 
            also removes their posts as to not cause issues/confusion
        */
        fetch('deleteUser', { method:'POST' })
        .then(response => {
            if (response.ok) {
                window.location.href='/';
            }
        });
    }

</script>