{{!< main }}

<section class="login-register">
    <section class = "logout-area">
        <p>Successfully logged out.</p>
        <button onclick="window.location.href='/'">Return Home</button>
    </section>
</section>