{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/auth/google" method="GET">
            <button type="submit">Login With Google</button>
        </form>
    </section>
</section>