/* ~~~ blog wide styling ~~~ */
.post, .profile-info, .register-area, .login-area, .logout-area, .delete-confirm-area {
    padding: 1em;
    background-color: rgba(35, 15, 95, 0.728);
    border-radius: 1em;
}

html, body {
    height: 100%;
    margin: 0;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: radial-gradient(rgb(0, 0, 0), rgb(34, 21, 65));
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 1em;
}

img {
    margin-right: 1em;
    border-radius: 0.5em;
    border: solid aliceblue 2px;
}

ul {
    list-style-type: none;
}

nav ul {
    display: inline-flex;
    align-items: center;
}

nav ul li {
    margin-left: 1em;
    flex: 1 1 0px;
    font-size: 1.2rem;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    font-size: 2.2em;
}

p {
    font-size: larger;
    margin: 0;
}

form { 
    display: flex;
    flex-direction: column;
}

button, select {
    color: aliceblue;
    border-radius: 1em;
    background: radial-gradient(rgb(0, 0, 0), rgb(35, 15, 95));
    padding: 0.5em;
}

select {
    border-radius: 1em;
    margin-left: 0.5em;
}

form button {
    margin-top: 1em;
}

/* ~~~ main.handlebars template styling ~~~ */
.logo {
    display: flex;
}

.header-avatar {
    width: 50%;
}

.user-info {
    text-align: center;
    width: 30%;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
}

/* ~~~ home.handlebars styling ~~~ */
.content-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em 0 1em;
}

.emoji-button {
    padding: 0.5em 1em 0.5em 1em;
}

/* also in deleteUser */
.post-button, .delete-confirm-buttons button {
    padding: 0.5em 2em 0.5em 2em;
}

/* used in profile too */
.postFilter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-form {
    width: 100%;
}

.post-form h1 {
    text-align: center;
}

#content {
    margin-top: 1em;
    height: 15em;
    resize:vertical;
}

#homeRecents {
    text-align: center;
}

/* ~~~ profile.handlebars styling ~~~ */
.profile-container {
    display: flex;
    justify-content: center;
}

.user-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#noUserPosts {
    margin-top: 2em;
}

/* ~~~ post.handlebars partial styling ~~~ */
.post {
    display: flex;
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 6%;
}

.post h1 {
    font-size: larger;
    border-bottom: black solid 2px;
}

.post-content { 
    width: 100%;
    border-radius: 1em;
}

.post-content p {
    padding: 0.5em;
}

.post-status-bar {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.post-status-bar button {
    background: none;
    border: none;
    color: aliceblue;
    font-size: larger;
}

.post-status-bar .like:hover { 
    color: red;
    transition: 0.25s;
}

.post-status-bar .delete:hover { 
    color: gray;
    transition: 0.25s;
}

.post-avatar img {
    width: 2.5em;
}

#post-status-bar-date {
    margin-left: 2em;
}

#post-status-bar-likes {
    align-self: flex-start;
}

.showCommentsBtn, .commentBtn {
    margin: 0.5em 0 0.5em 0;
}

.like, .delete {
    padding: 0;
    margin-right: 0.5em;
}

/* ~~~ deleteUser.handlebars styling ~~~ */
.delete-confirm-buttons {
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

/* ~~~ comments styling, apart of posts styling ~~~ */
.comment {
    display: flex;
    border: black solid 2px;
    border-radius: 1em;
    margin: 0.5em 0 0.5em 0;
}

.comment img {
    width: 2em;
    margin: 0;
}

.comment-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.comment-content p {
    font-size: medium;
}

.comment-username {
    border-bottom: black solid 2px;
    padding: 0 0.5em 0 0.5em;
}

.comment-avatar {
    border-right: black solid 2px;
}

.comment-content #commentTimestamp {
    font-size: small;
    border-top: black solid 2px;
}

#comment {
    resize: vertical;
}

/* ~~~ login and logout styling ~~~ */
.login-area, .logout-area {
    padding: 2em;
}

.register-area {
    padding: 0 3em 3em 3em
}

.login-area p , .logout-area p {
    margin: 1em;
}

.logout-area, .login-area, .register-area, .delete-confirm-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-register, .delete-confirm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.post-content h1, .profile-info h1 {
    margin: 0;
}


/* ~~~ responsive styling ~~~ */
@media screen and (min-width: 0px) {
    /* .login-area { margin-bottom: 0em; } */
    .register-area { margin-top: 1em; }
    .login-register { flex-direction: column; margin-top: 3%; }
    .content-container { flex-direction: column; align-items: center; }
    .post {width: 90%;}
    .logo img { width: 5em; height: 5em; }
    .post-form { width: 80%; }
    .delete-confirm-area { margin-top: 10%; width: 70%}
    #navBar { flex-direction: column; }
}

@media screen and (min-width: 550px) {
    .delete-confirm-area { width: 40%; }
    #navBar { flex-direction: row; }
}

@media screen and (min-width: 800px) {
    .delete-confirm-area { width: 30%; }
    .post { width: 75%; }
    .logo img { width: 6em; height: 6em; }
}

@media screen and (min-width: 900px) {
    .delete-confirm-area { width: 20%; }
    .post { width: 50vw; }
    .register-area { margin-top: 0; }
    .login-register { flex-direction: row; margin-top: 11%; }
}

@media screen and (min-width: 1024px) {
    .content-container { flex-direction: row; align-items: flex-start; }
    .post-form { width: 100%; }
}

@media screen and (min-width: 1250px) {
    .post { width: 55vw; }
}
